*{
    margin: 0px;
    padding: 0px;
    margin: auto;
    box-sizing: border-box;
}



/* .link1:hover { */
  .shop-curtain{
  height: 400px;
  width: 1050px;
  background-color: #FFFDF5;
  padding: 0px;

}
 
